
body{
    font-family: 'Fruktur', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.hire-me-button{
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-bar{
    background-image:url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-para{
padding-right: 150px;
}

